@model SistemasNotas.Domain.ViewModels.Account.LoginViewModel

<div class="margin-top-100 form-group">
    <form class="form-login float-left margin-left-75">
        <h1>Login</h1>
    </form>
</div>